<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <test name="Emulator_56">
        <classes>
        <class name="EmulaterParallel.AppDownload_56"/>
        </classes>
    </test>
    <test name="Emulator_54">
        <classes>
            <class name="EmulaterParallel.AppSearch_54"/>
        </classes>
    </test>
</suite>